*{
    padding: 0;
    margin: 0;
    color: white;
}
#new1{
    height: 60px;
    background-color: #0f1111;
    padding-top: 6px;
    position: fixed;
}
a{
    padding-right: 200px;
    text-decoration: none;
}
button{
    background-color: #f08804;
}
#logo{
    font-size: 20px;
    color: #f08804;
}
#try{
    padding-right: 170px;
}
#photo{
    height: 1200px;


    background-image: url(wall.jpg);
  background-size: cover;      /* makes image cover full screen */
    background-repeat: no-repeat; /* stops repeating tiles */
    background-position: center;
}