#container{
    width: 600px;
    height: 500px;
    background-color: rgb(173, 181, 181);
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
     /* align-items: center; */
    /* flex-wrap: wrap; */
    /* align-content:center ; */ 

}
#box1{
    width: 80px;
    height: 80px;
    border: 2px solid blue;
    background-color: rgb(255, 0, 200);
    box-shadow: 5px 5px 5px 5px red;
}
#box2{
    width: 80px;
    height: 80px;
    border: 2px solid blue;
     background-color: rgb(255, 0, 43);
}
#box3{
    width: 80px;
    height: 80px;
    border: 2px solid blue;
     background-color: rgb(0, 255, 76);
}
#box4{
    width: 80px;
    height: 80px;
    border: 2px solid blue;
     background-color: rgb(255, 238, 0);
}
